asgiref==3.10.0
async-timeout==5.0.1
attrs==25.4.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
cssselect2==0.9.0
Django==4.2.26
django-background-tasks==1.2.8
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-filter==25.1
django-redis==5.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.12.1
drf-yasg==1.21.11
et_xmlfile==2.0.0
fonttools==4.62.1
gunicorn==23.0.0
idna==3.11
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lxml==6.0.2
numpy==2.4.4
openpyxl==3.1.5
packaging==25.0
pandas==3.0.2
pillow==12.0.0
pycparser==3.0
pydyf==0.12.1
PyJWT==2.10.1
PyMySQL==1.1.2
pypdf==6.12.2
PyPDF2==3.0.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
redis==7.1.0
referencing==0.37.0
reportlab==4.4.10
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
weasyprint==68.1
webencodings==0.5.1
xlsxwriter==3.2.9
zopfli==0.4.1
